body{
	padding: 0;
	margin: 0;
}

#top{
	float: left;
}
#desenho{
	float: left;
}

.config-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 1.5%;
}

#config{
	display: flex;
	justify-content: space-between;
}

#canvas{
	border:1px solid #000000;
}